.profileContainer{
    display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

.leftContainer{
    background-color:#f3f1f1 !important;
}

.postSelector .searchBar{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.commentCon {
    display:block;
}

.commentCon > *{
    flex:1;
}
.postSelector .searchBarInput{
    flex:1;
}
/*
.postSelector .searchBar img{
    display:inline-block;
    width:20px;
    background-color:#536DFE;
    padding:9.5px;
    margin:auto;
} */

.postSelector .searchBar img{
    flex:1;
    margin:0;
    padding:4.5px;
    width:30px;
    background-color:#536DFE;
}

.privateText{
    color:#212121 !important;
    font-size:13px;
    padding:5px;
    background-color:#f3f1f1;
}

.leftContainer > *{
    background-color:white;
}

.superMainProfilePostContainer{
    background-color:#f3f1f1 !important
}

 .accentColor{
padding:10px;
color:white !important;
text-align:left;
font-size:18px
}

.rightContainer span{
    margin-bottom:100px !important;
}

.rightContainer img{
    display:block;
    width:80px;
    height:80px;
    text-align:center;
    margin:auto;
    margin-top:5px;
    border-radius:50%;

}

.rightContainer ul{
    padding:0;
}

.rightContainer li{
    list-style: none;
    text-align:center;
}

.leftContainer{
    margin-top:10px;
}



.mainProfilePostContainer{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
    padding:0;
    margin-bottom:10px;
    clear:both;
}

.mainProfilePostContainer .postLeftContainer{
    flex:1;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

.mainProfilePostContainer  .postRightContainer{
    flex:10;
    background:white;
    text-align:center;
    
}

.rightContainer span{
    padding:0;
    /* display:inline-block; */
    margin:0;
}


a{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: underline;
    color:white;
}

.accentColor span{
    text-align:center !important;
}

.accentColor span:hover{
    color:white;
}

.mainProfilePostContainer .bodyText{
    margin-top:10px;
    font-size:12px;
    text-align:right;
    padding-right:10px;
    padding-bottom:10px;
    background-color:white;
}
.mainProfilePostContainer .lightPrimaryColor{
    flex:0 1;
    padding:10px 5px;
    text-align:center;
    /* padding:0 5px; */
    /* margin:auto 0; */
    font-size:12px;
    /* height:100%; */
    /* padding:10px 5px; */
    font-weight: bold;
    /* line-height: 20px; */
}

.leftPostContainer{
    margin:auto;
}

.postRightContainer .bodyText{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
    align-content: stretch;
    margin:0 10px;
    
}

.postRightContainer .accentColor{
    text-align:left;
}

.postRightContainer .isPost{
    text-align:left;
    font-size:19px;
    padding:5px;
}

.accentColor{
    text-align:center;
}

.superMainProfilePostContainer .accentColor{
    font-size:14px;
}

.superMainProfilePostContainer .bodyText span{
    font-size:13px;
}
.postRightContainer .answers{
    margin-right:10px;
}

.postRightContainer span{
    /* display:inline-block; */
    text-align:left;
}


.alignLeft{
    text-align:left;
}

.noMargin{
    margin-bottom:1px;
}

.commentDiv{
    float:right;
    width:90%;
    margin:0;
    padding:0px;
    margin-bottom:10px;
    background-color:white;
}

.commentDiv > *{
    padding:0 5px;
}

.commentDiv .commentContent{
    margin:10px 0 ;

}

.commentText{
    padding:0;
    font-size:12px;
    text-align:left;
    padding:5px 10px;
    margin:0;
}

.postSelector{
    padding:0;
    margin:auto;
    margin-bottom:10px;
    padding:5px 0;
    text-align:center;
}

.postSelector li{
    display:inline;
    margin:auto;
    padding:5px 10px;
    /* margin-left:10px; */
}

.postSelector .headerText a{
    color:#212121;
    font-size:15px;
}




@media (min-width:992px){

    .postSelector{
        text-align:left;
    }
    .profileContainer{
        display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
        margin:0;
        padding:0;
        background-color:#f3f1f1 !important;
    }
    
    .profileContainer > *{
        background-color:white;
        margin:0;
        padding:0;
        margin-top:10px;
        margin-bottom:10px;
    }
    
    .leftContainer{
        margin-left:10px;   
        margin-top:10px;
       flex:3;
       /* border:solid black 1px; */
       margin-right:10px;
    }
    
    .rightContainer{
        margin-right:10px;
        flex:1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        /* border:solid black 1px; */
    }

    .mainProfilePostContainer .bodyText{
        font-size:14px;
    }

    .postSelector .searchBar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    
    .postSelector .searchBarInput{
        flex:1;
    }
    
    .postSelector .searchBar img{
        display:inline-block;
        width:20px;
        background-color:#536DFE;
        padding:9.5px;
        margin:auto;
    }
}