.fullEntryContainer{
  /* padding:5px; */
  padding-top:0px;
  margin:0;
  width:100%;
}
.entryContainer .entryHeader{
  margin:0;
  padding:10px;
  display:flex;
}

.entryContainer{
  padding:0;
  margin:0;
  margin-bottom:30px;
}

.entryContainer .privateText{
  color:white !important;
  padding:5px;
  font-size:14px;
}

.entryContainer .privateText{

    color:#212121 !important;
    font-size:13px;
    padding:5px;
    background-color:#f3f1f1;

}



.entryContainer .privateText span{
  text-transform: initial;
}

.entryContainer .entryDesc{
  /* text-align:center; */
  padding:10px 10px;
  padding-top:0;
  color:white !important;


  /* padding-top:10px; */
}
.entryContainer .authorDiv{
  text-align:right;
  font-size:15px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: flex-start;

}

.reportIcon{
  flex: 0 0;
  width:20px;
  padding:0;
  margin:0;
  margin-top:-10px;
  filter:invert(1)
  
}

.authorLink{
  margin-top:-10px;
  text-decoration: none;
  color:#e0dcdc;
}

.authorLink:hover{
  color:grey;
}

.entryHeader img{
  display:inline-block;
  margin:0;
  padding:0;
  width:25px;
  height:25px;
  vertical-align: center;
  flex: 0 0;
}




.entryDesc div{
  display:inline-block;
  /* border:solid black 1px; */
  height:100%;
}

.entryDesc div * {
  margin-bottom:-3.5px;
}


.entryDesc a{
  /* margin-left:5%; */
  /* text-align:center; */
  font-size:15px;
  color:white;
  margin-top:-10px;
  /* font-weight: bold; */
}

.entryDesc a:hover img{
  filter:invert(1);
}

.entryDesc img{
  text-align:center;
  display:inline;
  width:20px;
  margin-top:5px;
  margin-left:10px;
}

.entryDesc a:hover{
  color:#212121;
}

.entryHeader p{
  padding:0;
  margin:0;
  width:110%;
}

.entryHeader > div{
  flex:1;
}

.entryContainer .entryHeader p{
  flex:5;
  margin:0;
  /* margin-left:100px; */
  padding:0;
  color:white;
  /* text-align:center; */
  font-size:19px;
}

.entryContainer .entryVotesDiv{
  margin:auto;
  text-align:center;
  margin-bottom:10px;
  /* border:solid black 1px */
}

.entryContainer .entryVotes{
  color:#757575 !important;
  font-family: 'Cantarell', sans-serif;
  text-transform:none;
  font-size:16px;
  letter-spacing: .2px;
  display:inline-block;
  /* margin:0; */
  border:solid #757575 2px;
  padding:10px 20px;
  margin-right:10px;
  border-radius:10px;
}

.entryContent{
  font-size:15px;
  padding:10px;
  border-bottom:solid #bcbcbc 1px;
  padding-bottom:30px;
  margin-bottom:10px;
}



.reportIcon{
  margin-bottom:10px;
}

.entryBottom .authorDiv{
  text-align:right;
}

.entryBottom .authorLink{
  text-align:right;
}

.votesContainer{
  text-align:center;
  /* padding:10px; */
  font-weight:bold;
  /* border:solid black 1px; */
  margin:0;
  /* background-color:black; */

}

.votesBottom{
  /* margin:auto; */
  font-size:13px;
  text-align:center;
  /* padding:10px; */
  /* border:solid black 3px; */
  border-radius: 50%;
  margin:0;
  padding:0;
}

.votesBottom p {
  text-align:center;
  width:60px;
  padding:10px 30px;
  margin:0;
  /* color:#212121; */
  color:white !important;
  /* border:solid #212121 1px; */
  border-radius: 10px;
  font-size:15px !important;
}

.votesContainer p{
  text-align:center;
  /* width:60px; */
  padding:10px 30px;
  margin:0;
  color:#212121;
  font-size:15px !important;
  font-weight:100;
}

.newAnswer{
  padding:0px !important;
  /* text-align:center; */
}

.newAnswer > div:last-child{
  text-align:center;
}

.newAnswer div{
  text-align:left;
  margin:0 !important;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  color:white;
  padding:10px;
  font-size:15px;
}

.contentCreator > textarea{
  height:300px;
  width:90%;
  margin:5px;
  resize:false;
  font-size:12px;
  border:solid #212121 1px;
}


.newAnswer button{
  margin-top:5px;
  margin-bottom:10px;
}

.addAComment{
  margin-left:15px;
}
.votesBottom{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.entryBottom{
  display: flex;
	flex-direction: column-reverse;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}



.entryBottom .headerText{
  padding:10px;
}

.votesContainer p:last-of-type{
  margin:0;
  /* text-align:center; */
}

#votesText{
  padding-left:10px;
}


.votesBottom .greenColor{
  border-radius: 0;
}

.voteIcon{
  /* background-color:red; */
  display:inline;
  margin:0;
  padding:0;
  padding:4.6px;
}

#upvote{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color:#757575;
  
}

#downvote{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #757575;
}

.soAPI{
  padding:0;
  margin-top:10px;
}

.SOQuestionMainContainer{
  background-color:#f3f1f1;
}

.SOQuestionContainer .headerText{
  color:white !important;
  font-size:18px;
  padding:5px;
}

.soQuestionDetails{
  /* border:solid black 1px; */
  /* padding:10px 0; */
}

.SOQuestionContainer{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
  padding:0;
  margin-top:10px;
  margin:5px;
  /* margin-right:10px; */
  /* max-height:150px; */
}

.SOQuestionContainer .headerText{
  flex:1 1;
  /* min-height:50px; */
}

.soQuestionDetails{
  display:flex;
  /* height:50%; */
  /* max-height:100px; */
}

.soQuestionDetails > *{
  background-color:White;
  width:25%;
  text-align:center;
  /* margin:auto; */
  padding:10px;
}

.soQuestionDetails .greenColor{
  background-color:rgb(0, 184, 0);
}

.soQuestionDetails .redColor{
  background-color:rgb(255, 53, 53);
}

.soQuestionDetails .accentColor{
  /* padding:10px; */
  font-size:inherit;
  color:#212121 !important;
}

.answerIcon{
  padding:0;
  margin:0;
  /* margin-top:-5px; */
  /* display:inline; */
}

.reportDiv{
  text-align:center;
  /* margin-top:10px; */
  /* position: absolute; */
  background-color:white;
  padding:0;
  /* padding:10px; */
  border-top:none;
  /* width:92%; */
}

.reportAni{
  animation: .5s report;
}
.reportDiv .headerText{
  font-size:15px;
  padding:10px;
  color:white !important;
  
}


@keyframes report{
  from{height:0; overflow:hidden}
  to{height:250px; overflow:hidden}
}

.reportDiv textarea{
  margin-top:5px;
  resize:none;
  width:80%;
  height:100px;
}

.reportDiv button{
  margin-top:5px;
  margin-bottom:5px;
}

.actualUserName .authorLink{
  color:#212121 !important;
}

.contentCreator {
  display:flex;
}

.contentCreator .contentPreview{
  font-size:14px;
  display:inline;
  /* border:solid black 1px; */
  font-family: 'Cantarell', sans-serif !important;
  text-transform:none;
  font-size:15px;
  /* letter-spacing: .1px;
  word-spacing: .1px; */
  color:#212121 !important;
  overflow:auto;
  max-height:310px;
}

.contentCreator .contentPreview .goodCode, .contentCreator .contentPreview .badCode, .contentCreator .contentPreview .code{
  font-family: 'Cantarell', sans-serif !important;
  text-transform:none;
  font-size:15px;
}

.contentCreator .contentPreview .code{
  margin-bottom:10px !important;
  font-weight:bold;
  padding:1px;
  /* background:black; */
}

.editContainer > textarea{
  height:230px;
}

#answerContent{
  margin:10px 0;
}

.mainVoteContainer{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: space-between;
  
}
.mainVoteContainer > *{
  margin:3vw;
}

/* .votesBottom .greenColor > *{
  flex:0 0;
} */
@media (min-width:992px){

  .newAnswer div{
    text-align:left;
    margin:0 !important;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 1px;
    color:white;
    padding:10px;
    font-size:19px;
  }
  
  .contentCreator > textarea{
    height:300px;
    /* width:97%; */
    width:48%;
    margin:5px;
    resize: none;
    font-size:15px;
    border:solid #212121 1px;
  }
  
  .newAnswer button{
    margin-bottom:10px;
    text-align:left;
    margin-left:15px;
  }
  

  .entryContainer .entryHeader p{
    flex:5;
    margin:0;
    /* margin-left:100px; */
    padding:0;
    color:white;
    font-size:22px;
  }

  .addAComment{
    margin-left:5%;
  }

  .entryDesc{
    text-align:center;
  }


  .entryDesc img{
    text-align:center;
    display:inline;
    width:20px;
    margin-top:5px;
    /* margin-left:10px; */
  }

  .entryHeader p{
    text-align:left;
  }

  .authorLink{
    color:#919191 !important;
  }


  .SOQuestionMainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

  }

  .SOQuestionContainer{
    flex: 0 0  48.5%;
  }

  .answerIcon{
    padding:0;
    margin:0;
    display:inline;
    /* margin-top:-5px; */
  }

  .reportIcon{
    display:inherit;
    filter:invert(1);
  }
  .reportDiv{
    position: absolute;
    width:400px;
  }

  .mainVoteContainer{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
  align-content: flex-end;

  }

  .mainVoteContainer > *{
  margin:10px;    
  }

  .entryBottom{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin:0 10px;
  }

  .mainVoteContainer > *{
    margin:0 10vw
  }
}